*
!GameRules.md
!/src/
!/src/**
src/.DS_Store
!LegacyCode.java
src/teambot/.DS_Store
src/teambot/battlecode2021/.DS_Store
src/mushroombot/.DS_Store
src/mushroombot/battlecode2021/.DS_Store
src/sprint/.DS_Store
src/teambot1/.DS_Store
src/teambot1/battlecode2021/.DS_Store
